body {
	background-color: white;
	font-family: sans-serif;
}

h1, h2 {
	margin: 0;
	margin-top: 1em;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.1em;
}

a, a:visited {
	color: black;
}

#topLink {
	position: fixed;
	top: 0;
	right: 0;
	padding: 0.5em;
	background-color: white;
}

.scheduledBuild, .builder {
	border-top: 3px solid lightgray;
	margin-bottom: 1em;
}

.labeled {
	display: flex;
	flex-wrap: wrap;
}

.labeled > * {
	display: inline-block;
	vertical-align: top;
	margin-top: 0.5em;
}

.label, .compact .revisionedName {
	width: 15em;
	flex-shrink: 0;
	font-weight: bold;
}

.labeled >:last-child {
	min-width: 20em;
	flex-grow: 1;
}

.requiredPackages, #completeBuilds .resultingPackages {
	background-color: lightgreen;
}

.missingPackages, #scheduledBuilds .resultingPackages,
	#blockedBuilds .resultingPackages {
	background-color: lightyellow;
}

.requiredPackages, .missingPackages {
	max-height: 5em;
	overflow-y: auto;
}

#failedBuilds .resultingPackages, #lostBuilds .resultingPackages {
	background-color: red;
}

.revisionedName, .builderName {
	font-weight: bold;
}

.count::before {
	content: ' - '
}

#blockedBuilds {
	background-color: #fffff8;
}

#completeBuilds, #activeBuilders {
	background-color: #f0fff0;
}

#activeBuilds, #reconnectingBuilders {
	background-color: #f0f0ff;
}

#failedBuilds, #lostBuilders {
	background-color: #fff0f0;
}

#lostBuilds {
	background-color: #fffdf0;
}

.logContainer, .logContainer .logs, #masterLog, .builderName, .buildNumber {
	display: flex;
}

.logContainer {
	flex-direction: column;
	flex-grow: 1;
}

.logs div, .recipeFilePath {
	margin-left: 0.5em;
	font-weight: normal;
}

.logs a {
	text-decoration: underline;
}

.inlineLogViewer {
	width: 100%;
	height: 15em;
	background-color: white;
}

.inlineLogViewer.hidden {
	display: none;
}

.compact .expanded, .compact .expanded-if-empty:empty,
.compact .expanded-if-only:only-child, .compact .buildNumber,
.hidden-if-only:only-child {
	display: none;
}

.compact .scheduledBuild, .compact .builder {
	border-top: none;
	margin-bottom: 0;
	display: flex;
	flex-wrap: wrap;
}

.compact .builder .labeled {
	flex-grow: 1;
}

.compact .buildNumber:last-of-type {
	display: flex;
}

.compact .buildNumbersContainer {
	flex-grow: 1;
}
